body {
    
    text-align: center;
    background: url(img/23.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
.contenedor{
  margin: 260px;
  margin-left: 350px;
  width: 500px;
  height: 320px;
  padding: 10px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  backdrop-filter: blur(30px);
  border: 2px solid trasparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45,55,68;0.0.3);
  line-height: 1.5;
}

  h1 {
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  p{
   color:#fff;
}


  input {
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  #mensaje {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin-top: 20px;
  }



@media (max-width: 400px) {
  
 body {
 
    text-align: center;
    background: url(img/23.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.contenedor {
     margin: 60px;
    margin-left: 22px;
    width: 300px;
    height: 520px;
    padding: 10px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    backdrop-filter: blur(30px);
    border: 2px solid trasparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(45,55,68;0.0.3);
    line-height: 1.5;
}
}



  